<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Matthew Deiters - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <link rel='alternate' type='application/rss+xml' href='http://blog.theagiledeveloper.com/rss.xml' />
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1><a href='/'>Matthew Deiters</a></h1>
        <div id='menu'>
          <ul>
            <li><a id="about_link" title="About" href="/about.html">About</a></li>
            <li><a href='http://blog.theagiledeveloper.com' id='blog_link' title='Blog'>Blog</a></li>
            <li><a href='http://github.com/mdeiters' target='_blank' title='GitHub' rel='me' id='github_link'>GitHub</a></li>
            <li><a href='http://www.linkedin.com/in/matthewdeiters' title='LinkedIn' target='_blank' rel='me' id='linkedin_link'>LinkedIn</a></li>
            <li><a href='http://twitter.com/mdeiters' title='Twitter' target='_blank' rel='me' id='twitter_link'>Twitter</a></li>
          </ul>
        </div>
      </div>
      <div id='content'>
        You have requested a page that does not exist.
        <div class='clearfix'></div>
      </div>
    </div>
    <div id='footer'>
      Copyright &copy; 2010 Matthew Deiters. Some rights reserved.
    </div>
  </body>
</html>